{
  "extends": ["stylelint-config-standard", "stylelint-config-recess-order"],
  "rules": {
    "at-rule-no-unknown": null,
    "function-url-quotes": "always",
    "selector-class-pattern": null
  }
}
